{% extends 'academics/base.html' %}
{% load static %}
{% block content %}
 <h2 class="navy mb-5 heading">About Us </h2>
        <div class="para">
              <p>
                <span class="bold">Indian Institute of Technology - BHU(Varanasi)</span>, completed its 100 years in 2019, and we wish to take forward the legacy with rejuvenated vigor and sheer dedication with a commitment to nation building. The Indian Institute of Technology (Banaras Hindu University) Varanasi owes its existence to Bharat Ratna Mahamana Pandit Madan Mohan Malviya, the founder of the first residential University of modern India, Banaras Hindu University (BHU), who could foresee the vital role of technical education in strengthening independent India.
               </p>


             <p>   Engineering education in BHU started in 1919 with the establishment of Banaras Engineering College (BENCO). The next stage of development saw the establishment of College of Technology (TECHNO) and College of Mining & Metallurgy (MINMET). In 1968, the erstwhile engineering colleges of BHU, namely BENCO, MINMET, and TECHNO, were merged to form the Institute of Technology (IT-BHU). IT-BHU had been admitting students through the JEE conducted by the IITs since 1972.</p>

                <p>
                    <img class="para-image" src="{% static 'academics/images/carousel/bhu2.png' %}" alt="">
                </p>

        <p>
            The College is also an authorized training partner of  CISCO, Red Hat, and Microsoft.
            It provides related- training and conducts preparatory examinations leading to internationally
             recognized certifications from these  renowned institutions. IIT - BHU has MOUs with the Microsoft
              Innovation Center and many reputed multinational and  local companies for internships and
              training programmers.

        </p>
                <p>
                  The erstwhile IT-BHU was ranked consistently amongst the top engineering institutions of the country. IT-BHU became IIT (BHU) Varanasi on June 29, 2012, by an Act of Parliament. Following its conversion to IIT, the Institute has quickly established procedures and practices as per the standards of IITs.
               </p>

        </div>


{% endblock %}